@using Task10.Models;
@using Task06.BLL;
@using Task06.BLL.Interfaces;
@using Task06.DAL;
@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    Page.Title = "Index";

    IUserLogic userLogic = new UserLogic(
        new UserDao(Server.MapPath("~/App_Data/users.db")),
        new UserAwardTableDao(Server.MapPath("~/App_Data/users-awards.rel")));
    IAwardLogic awardLogic = new AwardLogic(
        new AwardDao(Server.MapPath("~/App_Data/awards.db")));

    string page = "users";

    if (!IsPost)
    {
        if (Request["Page"] != null)
        {
            page = Request["Page"];
        }
    }
}

@if (!User.Identity.IsAuthenticated)
{
    <h1>Hello</h1>
    <a href="~/Pages/Login" class="btn btn-primary">Login</a>
    <a href="~/Pages/Register" class="btn btn-primary">Register</a>
}
else
{
    <h1>Hello, @User.Identity.Name</h1>
    <a href="~/Pages/Logout" class="btn btn-outline-primary">Logout</a>
    if (User.IsInRole("Admin"))
    {
        <nav class="nav">
            <a class="nav-link" href="Index">Users</a>
            <a class="nav-link" href="Index?page=awards">Awards</a>
            <a class="nav-link" href="Index?page=profiles">Profiles</a>
        </nav>
    }
}
<div>
    @switch (page)
    {
    case "users":
        foreach (var entry in userLogic.GetAll())
        {
            <h4>
                @entry.ToString();
            </h4>
            if (User.Identity.IsAuthenticated)
            {
                <ul>
                    @foreach (var award in userLogic.GetAwardsFor(entry.Id, awardLogic))
                    {
                        <li>
                            @award.ToString()
                        </li>
                    }
                </ul>
            }
        }
        if (User.IsInRole("Admin"))
        {
            <hr />
            <h3>Add</h3>
            <form action="~/Pages/ManipulateData" method="post" class="form-inline">
                <input type="hidden" name="Type" value="add-user" />
                <div class="form-group row">
                    <div class="col">
                        <input type="text" name="Name" placeholder="Name" class="form-control" />
                    </div>
                    <div class="col">
                        <input type="text" name="DateOfBirth" placeholder="DateOfBirth" class="form-control" />
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
            <hr />
            <h3>Update</h3>
            <form action="~/Pages/ManipulateData" method="post" class="form-inline">
                <input type="hidden" name="Type" value="update-user" />
                <div class="form-group row">
                    <div class="col">
                        <input type="text" name="Id" placeholder="Id" class="form-control" />
                    </div>
                    <div class="col">
                        <input type="text" name="Name" placeholder="Name" class="form-control" />
                    </div>
                    <div class="col">
                        <input type="text" name="DateOfBirth" placeholder="DateOfBirth" class="form-control" />
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
            <hr />
            <h3>Remove</h3>
            <form action="~/Pages/ManipulateData" method="post" class="form-inline">
                <input type="hidden" name="Type" value="remove-user" />
                <div class="form-group row">
                    <div class="col">
                        <input type="text" name="Id" placeholder="Id" class="form-control" />
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </div>
                </div>
            </form>
            <hr />
            <h3>Give award</h3>
            <form action="~/Pages/ManipulateData" method="post" class="form-inline">
                <input type="hidden" name="Type" value="give-award" />
                <div class="form-group row">
                    <div class="col">
                        <input type="number" name="Id" placeholder="Id" class="form-control" />
                    </div>
                    <select name="Award" class="custom-select mr-sm-3">
                        @foreach (var award in awardLogic.GetAll())
                        {
                            <option value="@award.Id">@award.Title</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-primary">Give award</button>
                </div>
            </form>
            <hr />
            <h3>Revoke award</h3>
            <form action="~/Pages/ManipulateData" method="post" class="form-inline">
                <input type="hidden" name="Type" value="revoke-award" />
                <div class="form-group row">
                    <div class="col">
                        <input type="number" name="Id" placeholder="Id" class="form-control" />
                    </div>
                    <select name="Award" class="custom-select mr-sm-3">
                        @foreach (var award in awardLogic.GetAll())
                        {
                            <option value="@award.Id">@award.Title</option>
                        }
                    </select>
                    <div class="form-check mr-sm-3">
                        <input type="checkbox" name="ForAll" class="form-check-input" />
                        <label class="form-check-label">For everyone</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Revoke award</button>
                </div>
            </form>
        }
        break;
    case "awards":
        if (User.IsInRole("Admin"))
        {
            foreach (var entry in awardLogic.GetAll())
            {
                if (entry.ImageSource == null || entry.ImageSource.Length == 0)
                {
                    <img width="80" height="80" src="~/Content/Images/award-placeholder.png" />
                }
                else
                {
                    <img width="80" height="80" src="@entry.ImageSource" />
                }
                <h4>
                    <br />
                    @entry.ToString()
                </h4>
            }
            <hr />
            <h3>Add</h3>
            <form action="~/Pages/ManipulateData" method="post">
                <input type="hidden" name="Type" value="add-award" />
                <div class="form-group">
                    <input type="text" name="Title" placeholder="Title" class="form-control mr-2" />
                </div>
                <div class="form-group">
                    <input type="file" accept="image/*" name="Files" class="mr-2" />
                    <button class="btn btn-secondary upload-files">Upload file</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <div class="ajax-reply"></div>
            </form>
            <hr />
            <h3>Update</h3>
            <form action="~/Pages/ManipulateData" method="post" class="form-inline">
                <input type="hidden" name="Type" value="update-award" />
                <div class="form-group">
                    <input type="text" name="Id" placeholder="Id" class="form-control mr-2" />
                    <input type="text" name="Title" placeholder="Title" class="form-control mr-2" />
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
            <hr />
            <h3>Remove</h3>
            <form action="~/Pages/ManipulateData" method="post" class="form-inline">
                <input type="hidden" name="Type" value="remove-award" />
                <div class="form-group">
                    <input type="text" name="Id" placeholder="Id" class="form-control mr-2" />
                    <button type="submit" class="btn btn-primary">Remove</button>
                </div>
            </form>
        }
        break;
    case "profiles":
        <ul class="list-group">
            @foreach (var entry in AuthModel.AuthList.Keys)
            {
            <li class="list-group-item">
                @entry
                @if (AppRoleProvider.UserHasRole(entry, "Admin")) {
                    <span class="badge badge-primary">Admin</span>
                }
            </li>
            }
        </ul>
        <hr />
        <form action="~/Pages/ProfileManipulation" method="post" class="form-inline">
            <select name="Profile" class="custom-select mr-sm-3">
                @foreach (var entry in AuthModel.AuthList.Keys)
                {
                    <option value="@entry">@entry</option>
                }
            </select>
            <button type="submit" class="btn btn-primary">Promote/Demote</button>
        </form>
        break;
    }
</div>